<header [class.transparent]="isTransparent">
  <div class="container">
    <div class="row">

      <a routerLink="/" class="col-3 header__left-section">
          <img src="/assets/images/design/logo_leha.png" alt="alexey" class="leha">
          <div class="logo">COSMOPORT</div>
      </a>

      <div class="col-9 header__right-section">

        <app-header-user *ngIf="auth.loggedIn"></app-header-user>

        <div class="header_btn_container" *ngIf="!auth.loggedIn">
          <button class="btn-round btn-auth" (click)="auth.openRegisterModal()">Регистрация</button>
          <button class="btn-round btn-auth" (click)="auth.openLoginModal()">Вход</button>
        </div>

      </div>

    </div>
  </div>
</header>