

<form #f="ngForm" (ngSubmit)="onSearch(f)" class="homepage_wrap">
    <div class="hero">
        <div class="big_logo">COSMOPORT</div>
        <div class="slogan">Как тебе такое, Илон Маск?</div>
    </div>
    <div class="find_tickets" >
        <div class="inp_container">
            <input
                ngModel
                type="text" 
                name="from" 
                id="from" 
                autocomplete="false"
                placeholder="Откуда">
        </div>
        <div class="inp_container">
            <input
                ngModel
                type="text" 
                name="to"
                id="to"
                autocomplete="false"
                placeholder="Куда">
        </div>
        <div class="inp_container">
            <input
                ngModel
                type="text" 
                name="departure" 
                id="departure" 
                autocomplete="false"
                placeholder="Туда">
            <i class="fal fa-calendar"></i>
        </div>
        <div class="inp_container">
            <input
                ngModel
                type="text" 
                name="arrival" 
                id="arrival" 
                autocomplete="false"
                placeholder="Обратно">
            <i class="fal fa-calendar"></i>
        </div>
    </div>
    <button class="go" type="submit">Найти билеты <i class="fal fa-space-shuttle"></i></button>
</form>