<div class="container">
  <div class="row">

    <!-- ??????? -->
    <div *ngIf="tickets.length === 0" class="col-md-10 offset-md-1 if_empty">
      <i class="fal fa-times-circle"></i>
      <h1>Ничего не найдено.</h1>
      <h2>Попробуйте ввести другой диапазон дат</h2>
    </div>

    <div *ngFor="let ticket of tickets" class="col-md-10 offset-md-1 ticket_outer">
      <div class="ticket_container">
        <div class="ticket row">
          <div class="date departure">
            <div class="day">{{ ticket.departure.date }}</div>
            <div class="time"> {{ ticket.departure.hours }}:{{ ticket.departure.min }}
            </div>
            <div class="port">
              {{ ticket.way[0].planet_name }}
              ,
              {{ ticket.way[0].port_name.port_name }}
            </div>
          </div>
          <div class="info">
            <div class="duration">2 д., 16 час., 18 мин.</div>
            <div class="arrow">
              <img src="/assets/images/design/triangle.png">
            </div>
            <div class="ship">Корабль: {{ ticket.spaceship.model_name }}</div>
          </div>
          <div class="date arrival">
            <div class="day">{{ ticket.arrival.date }}</div>
            <div class="time">
              {{ ticket.arrival.hours }}:{{ ticket.arrival.min }}
            </div>
            <div class="port">
              {{ ticket.way[ticket.way.length - 1].planet_name }},
              {{ ticket.way[ticket.way.length - 1].port_name.port_name }}
            </div>
          </div>
          <div class="classes">
            <div class="class">
              <div class="name">Эконом</div>
              <div class="remain">Осталось: {{ ticket.spaceship.free_places }}</div>
              <div class="price">{{ ticket.price }} $</div>
            </div>
            <div class="class">
              <div class="name">Эконом+</div>
              <div class="remain">Осталось: {{ ticket.spaceship.free_places }}</div>
              <div class="price">{{ ticket.price }} $</div>
            </div>
            <div class="class">
              <div class="name">Бизнес</div>
              <div class="remain">Осталось: {{ ticket.spaceship.free_places }}</div>
              <div class="price">{{ ticket.price }} $</div>
            </div>
          </div>
        </div>
        <div class="btn_container row">
          <a [routerLink]="['/', 'route', ticket.flight_id]" class="order col-md-3 offset-md-9 col-12">Заказать <i
              class="fal fa-space-shuttle"></i></a>
        </div>
      </div>

    </div>
  </div>
</div>