<div class="container">
  <div class="row">
      <div class="col-md-10 offset-md-1 trip_container">
        <div class="trip_step row">
          <div class="col-2 date">
            <div class="time">12:32</div>
            <div class="day">1 апреля</div>
          </div>
          <div class="col-1 dot_container">
            <div class="dot">
              <i class="fal fa-space-shuttle"></i>
            </div>
          </div>
          <div class="col-6 place">
            <span class="planet">Земля</span>
            <span class="port">Космопорт Невада</span>
          </div>
          <div class="rocket">
            Falkon
          </div>
        </div>
        <div class="trip_div">
          <div class="flight_time">1 д. 23 ч. 32 м.</div>
          <div class="class">Эконом</div>
        </div>
      </div>
  </div>
</div>