<content>
  <div class="section">
    <span class="section_name">Корабли</span>
    <div class="list_wrapper">
      <span class="list_name">Доступные модели</span>
      <div class="list_elem">
        <span class="text">Номер модели: <b>1</b></span>
        <span class="text">Название модели: <b>U-77</b></span>
        <span class="text">Места: <b>150</b></span>
        <span class="text">Скорость: <b>3.7 км/с</b></span>
      </div>
      <span class="list_name">Корабли</span>
      <div class="list_elem">
        <span class="text">Номер борта: <b>1</b></span>
        <span class="text">Номер модели: <b>1</b></span>
        <span class="text">Занято мест: <b>32</b></span>
      </div>
      <span class="list_name">Добавить корабль</span>
      <div class="list_elem">
        <input type="text" placeholder="ID модели">
        <button>Добавить</button>
      </div>
      <span class="list_name">Удалить корабль</span>
      <div class="list_elem">
        <input type="text" placeholder="ID корабля">
        <button>Добавить</button>
      </div>
    </div>
  </div>
  <div class="section">
    <span class="section_name">Полеты</span>
    <div class="list_wrapper">
      <span class="list_name">Полеты</span>
      <div class="list_elem">
        <span class="text">Номер полета: <b>1</b></span>
        <span class="text">От куда: <b>Коперник</b></span>
        <span class="text">Куда: <b>Луна</b></span>
        <span class="text">Отправление: <b>23:00 12.01</b></span>
        <span class="text">Прибытие: <b>02:00 13.01</b></span>
        <span class="text">Активен: <b>Да</b></span>
      </div>
      <span class="list_name">Билеты</span>
      <div class="list_elem">
        <span class="text">Номер билета: <b>1</b></span>
        <span class="text">Номер полета: <b>1</b></span>
        <span class="text">Место: <b>97</b></span>
        <span class="text">Пользователь: <b>1</b></span>
        <span class="text">Уникальный ID билета: <b>1-3-100-1553635112</b></span>
      </div>
      <span class="list_name">Добавить полет</span>
      <div class="list_elem">
        <input type="text" placeholder="Маршрут JSON">
        <input type="text" placeholder="Дата отправления">
        <input type="text" placeholder="ID корабля">
        <button>Добавить</button>
      </div>
    </div>
  </div>
  <div class="section">
    <span class="section_name">Опасная зона</span>
    <div class="list_wrapper">
      <span class="list_name">Сброс системы</span>
      <div class="list_elem">
        <button>Сбросить</button>
      </div>
    </div>
  </div>
</content>