
.seat {
    border: 2px solid #a759c0;
    width: 17px;
    height: 17px;
    margin: 2px;
    cursor: pointer;
}
.seat.disabled {
    border-color: #ccc;
    cursor: not-allowed;
}
.seat.chosen {
    background-color: #a759c0;
}