
<div (click) = "toggleDropdown()" class="header__user-section">
    <div class="header__username">{{ name }}</div>
    <div class="header__avatar"><img src="/assets/images/design/avatar.png" alt="Profile photo"></div>
</div>

<div [ngClass]="{hidden : !dropdownOpened}" class="header__dropdown" >
  <div class="header__dropdown-item">Мои билеты</div>
  <div class="header__dropdown-item">Ещё что-то</div>
  <div class="header__dropdown-item">Мой профиль</div>
  <div class="header__dropdown-item dropdown-logout">Выйти</div>
</div>
