<app-choose-seat *ngIf="chooseSeatOpened" (close)="chooseSeatOpened = false" (result)="onResult($event)">
</app-choose-seat>

<div class="container">
  <div class="row">

    <div class="col-md-10 offset-md-1 trip_container">

      <div *ngFor="let place of way; let i = index">

        <div class="trip_step row">
          <div class="col-2 date">
            <div class="time">12:32</div>
            <div class="day">1 апреля</div>
          </div>
          <div class="col-1 dot_container">
            <div class="dot">
              <i class="fal fa-globe" 
                 [class.fa-globe]="i !== way.length - 1"
                 [class.fa-check-circle]="i == way.length - 1"
                 [class.trip_destination]="i == way.length - 1"></i>
            </div>
          </div>
          <div class="col-3 place">
            <span class="planet">{{ place.planet_name }}</span>
            <span class="port">{{ place.port_name }}</span>
          </div>
          <div *ngIf="i === 0" class="col-3 rocket">
            <div class="name">{{ flight.spaceship_model.spaceship_name }}</div>
          </div>
          <div *ngIf="i === 0" class="col-3 buttons">
            <button class="choose_seat" (click)="chooseSeatOpened = true">
              {{ (seat !== null) ? "Место: " + seat : "Выбрать место" }}
              <i class="fal fa-angle-down"></i>
            </button>
          </div>
          <div *ngIf="i === way.length - 1" class="col-3">
            <div class="total">
              Всего: <span>{{ flight.price }} $</span>
            </div>
          </div>
          <div *ngIf="i === way.length - 1" class="col-3">
            <button class="further">
              <div (click)="goToForm()" class="caption">
                Перейти к оформлению
              </div>
              <i class="fal fa-angle-double-down"></i>
            </button>
          </div>
        </div>

        <div *ngIf="i !== way.length - 1" class="trip_div row">
          <div class="col-2 flight_time">
            <span>В пути:</span>
            <span>1 д. 23 ч. 32 м.</span>
          </div>
          <div class="col-1">
            <div class="divisor"></div>
          </div>
        </div>

      </div>


      <form>
        <div class="form_header" id="form">
          Заполните свои данные
        </div>
        <div class="form_body container">
          <div class="row">
            <div class="col-md-6">
              <label for="last_name" class="label">Фамилия:</label>
              <input type="text" name="last_name" id="last_name" class="input" [value]="first_name">
            </div>
            <div class="col-md-6">
              <label for="first_name" class="label">Имя:</label>
              <input type="text" name="first_name" id="first_name" class="input" [value]="last_name">
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label for="last_name" class="label">Дата рождения:</label>
              <input type="text" name="last_name" id="last_name" class="input">
            </div>
            <div class="col-md-6">
              <label for="first_name" class="label">Пол:</label>
              <div class="radio">
                <p>
                  <input name="gender" type="radio" id="male" value="male">
                  <label for="male"> Мужской</label>
                </p>
                <p>
                  <input name="gender" type="radio" id="female" value="female">
                  <label for="female"> Женский</label>
                </p>
              </div>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-3">
            <button routerLink="/tickets" class="back further">
              <i class="fal fa-angle-double-left"></i>
              <div class="caption">
                Назад
              </div>
            </button>
          </div>
          <div class="col-3 offset-6">
            <button class="further">
              <div class="caption">
                Заказать
              </div>
              <i class="fal fa-angle-double-right"></i>
            </button>
          </div>
        </div>
      </form>


    </div>
  </div>
</div>